<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if (locals.currentUser) { %> <% if (locals.currentUser.admin) { %>
    <h1>Welcome back admin <%= currentUser.first_name %>!</h1>
    <a href="/new-message">New Message</a>
    <a href="/logout">Log Out</a>
    <% } else if (locals.currentUser.member) { %>
    <h1>Welcome back member <%= currentUser.first_name %>!</h1>
    <a href="/new-message">New Message</a>
    <a href="/become-admin" style="margin-left: 10px">Become an admin</a>
    <a href="/logout">Log Out</a>
    <% } else { %>
    <h1>Welcome back <%= currentUser.first_name %>!</h1>
    <a href="/new-message">New Message</a>
    <a href="/join" style="margin-left: 10px">Join the club</a>
    <a href="/logout">Log Out</a>
    <% } %> <% } else { %>
    <h1>Sign up and/or login to create a message</h1>
    <a href="/login">Login</a>
    <a href="/signup" style="margin-left: 10px">Sign Up</a>
    <% } %>
    <div class="messages" style="margin-top: 30px">
      <% if (locals.messages) { %>
      <h2>Messages</h2>
      <% messages.forEach(function(message) { %>
      <div class="message" style="border: 1px solid; padding: 10px">
        <p class="title" style="font-size: 1.3em; font-weight: bold">
          <%= message.title %>
        </p>
        <p><%= message.content %></p>
        <%- include("partials/memberPrivileges.ejs", { message: message }) %>
        <%- include("partials/adminPrivileges.ejs", { message: message }) %>
      </div>
      <% }); %> <% } else { %>
      <p style="color: red">
        Error retrieving messages. Please refresh the page.
      </p>
      <% } %>
    </div>
  </body>
</html>
